<p id="notice"><%= notice %></p>

<p>
  <b>Companyname:</b>
  <%= @company.companyName %>
</p>

<p>
  <b>Industry:</b>
  <%= @company.industry %>
</p>

<p>
  <b>Tinno:</b>
  <%= @company.tinNo %>
</p>

<p>
  <b>Notes:</b>
  <%= @company.notes %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
